{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

    <!--Head-->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EstacionaCar</title>
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="https://kit.fontawesome.com/65d158f4c4.js" crossorigin="anonymous"></script>

        {% bootstrap_css %}

    </head>
    <!--Fim Head-->
    
    <body>        
        
        <!--Seção cabecalho-->
        <section class="cabecalho">
            <header>
                <div class="container">
                    <!--Seção Logo-->
                    <div class="logo">
                        <img src="{% static 'imagem/logo.png' %}" alt="" class="p-1">
                    </div>
    
                    <!--Seção oerador-->
                    <div class="operador p-2 mt-3">
                        <span style="color: #EBB000;">Operador</span>
                        <p>Operador</p>
                    </div>
    
                    <!--Seção Menu-->
                    <div class="menu p-2 mt-3">
                        <div class="drop">
                            <i class="fas fa-cog dropBTN"></i>
                            <div class="dropContener">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </div>
    
                </div>
            </header>
        </section>
        <!--Fim Seção cabecalho-->

        <!--Seção Conteúdo-->
        
        {% block conteudo %}
        {% endblock %}
        
        <!--Fim Seção conteúdo-->

        <!--Seção Rodape-->
        <section class="mt-5">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            &copy; RadiDevWeb | 2021
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                                Desenvolvido por Rafael Silva
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
        <!--Fim Seção rodapé-->





        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>