{% load static %}
<link rel="stylesheet" href="{% static 'css/controle.css' %}">

<section class="controle">
    <h2 class="mt-4 p-3">Park</h2>

    <div class="container">
        <div class="row">
            <div class="input-group mb-3 col-md-6">
              <form action="{% url 'buscar' %}" method="get" >
                <input type="text" class="form-control" name="buscarPlaca" placeholder="Informe a placa do veículo" aria-label="Recipient's username" aria-describedby="button-addon2">
                
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="submit" id="button-addon2">Buscar</button>
                </div>
              </form>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                      <div>
                          <span>Vagas disponiveis: 30</span>
                      </div>
                    </div>
                </div>

                  <div class="lista">
                      
                  </div>
            </div>
        </div>

        <!--Tabela-->
        <div class="tabela mt-4">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Placa</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Entrada</th>
                  </tr>
                </thead>
                {% for v in veiculo %}
                <tbody>
                  <tr>
                    <td>{{v.placa}}</td>
                    <td>{{v.modelo}}</td>
                    <td>{{v.entrada}}</td>
                  </tr>                  
                </tbody>
                {% endfor %}
              </table>
              
              <!--Inicio da Paginação-->
              <nav aria-label="Navegação de página exemplo">
                <ul class="pagination justify-content-center">

                  {% for pagina in veiculo.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
                    </li>
                  {% endfor %}

                </ul>
              </nav>
              <!--Fim da Paginação-->

        </div>
        <!--Fim Tabela-->

    </div>

</section>