{% extends 'base.html' %}
{%  load bootstrap4 %}
{% load static %}

{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<!--BTNS Entra/Saida-->
<section>

    <div class="conteudo mt-3">
        
        <div class="container">
          <h2 class="p-3">Controle</h2>
          {% bootstrap_messages %}
            <!--BTNS-->
            <div class="row d-flex justify-content-center bnts p-3">
                <!--BNT registro de entrada-->
                <div class="col-md-3">
                    <button type="button" name='placaEntrada' class="btn btn-primary p-2">
                        <a href="{% url 'entrada' %}" rel="noopener noreferrer">
                            Entrada
                        </a>
                    </button>
                </div>

                <!--BTN registro de saida-->
                <div class="col-md-3 ">
                    <button type="submit" name="placaSaida" class="btn btn-primary p-2">
                        <a href="{% url 'saida' %}" rel="noopener noreferrer">
                            Saida
                        </a>
                    </button>
                </div>

            </div>
            <hr>
        </div>

    </div>

</section>
<!--Fim BTNS Entra/Saida-->

<!--Seção de controle-->
{% include 'controle.html' %}
<!--Fim Seção de controle-->

{% endblock %}