{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block conteudo %}

<section>
<p>{{h}}</p>
    <link rel="stylesheet" href="{% static 'css/saida.css' %}">


    <div class="container conteudo">
        <h2 class="p-2">Saída</h2>

        <!--Capo de busca de placa-->
        <div class="input-group mb-3 mt-3">

          <!--Necessario o form para aplicação-->
          <!--name="buscarPlaca": usado na views como identificação-->
          <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'saida' %}">
            <input type="text" class="form-control" name="buscarPlaca" value="{{ request.GET.p }}" placeholder="Informe a placa do veículo" aria-label="Recipient's username" aria-describedby="button-addon2">

            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit" id="button-addon2">Ok</button>
            </div>
          </form>            
        </div>
    </div>

    <center>
      <div class="card">
        {% bootstrap_messages %}
        {% for v in veiculo %}
          <div class="card-header">
            
            <span>Placa: {{v.placa}}</span>
            
          </div>
          <div class="card-body">
            <h5 class="card-title">Modelo: {{v.modelo}}</h5>
            
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Entrada</th>
                  <th scope="col">Tipo: rot | mes</th>
                  <th scope="col">Saida</th>
                  <th scope="col">Valor(R$)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!--
                      <td>horas</td> --- Não esta recuperando a hora do Banco.
                      <td>R$valor</td> --- Esta com a lógica correta, porem como o horario
                                      não esta sendo recuperado corretamente, logo o valor não 
                                      sai corretamente.
                  -->
                  <td>{{v.entrada}}</td>
                  <td>{{v.tipo}}</td>                
                  <td>{{horas}}</td>
                  <td>R${{valor}}</td>
                  
                </tr>
              </tbody>
            </table>

            <!--Form necessario para o delete de um item 
                OBS: O loop FOR é necessario ate o fim FORM.
                     O ACTION levara a url da views e o ID referece a variavel do LOOP
            -->
            <form action="{% url 'del_saida' v.id %}" method="post">
              {% csrf_token %} 
              <button type="submit" class="btn btn-primary">Liberar</button>
            </form>
          </div>
        {% endfor %}
      </div>
    </center>

</section>

{% endblock %}