


html, body{
    padding: 0;
    margin: 0;
}

.bnts button{
   /* border:  solid red 1px; */

    text-align: center;
    width: 100px;
  
}

h2{
    font-family: 'Roboto';
    color: #343A40;
}

.controle h2{
    margin-left: 80px;
}

.card-body{
    /*border: solid red 1px;*/
    padding: 10px;
    height: 40px;
}



/*Dispositivos large (desktops com 992px ou mais)*/
@media (max-width: 767.98px) { 

    .bnts button{
        margin-left: 10%;
        margin-top: 10px;

        width: 300px;
    }

    .controle h2{
        margin-left: 0px;
    }

}

